<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<style>

		.moreaboutus{
			padding: 30px;
		}

		.skillsss {
			margin: 10px;
			background-color: rgb(59, 225, 142);
		}

		.skill-columnsss {
			display: flex;
			flex-wrap: wrap;
		}

		.columnnn {
			flex: 1;
			/* margin: 10px 20px; */
		}

		.skillll {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 10px 0;
			text-align: center;
		}

		.skillll img {
			width: 50px;
			height: 50px;
			margin-bottom: 7px;
		}


		.skillll h2 {
			font-size: 30px;
			color: purple;
			font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		}

		.SkillTitle{
			font-size: 19px;
			color: purple;
			font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

		}

		{{!-- p {
			font-style: bolder;
			font-family: 'Courier New', Courier, monospace;
			font-size: larger;
		} --}}

		section {
			max-width: 90%;
			max-height: 600px;
			margin: 2em auto;
			padding: 20px;
			background-color: #fff;
			border-radius: 18px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		}


		p {
			line-height: 1.6;
		}

		img {
			max-width: 100%;
			height: auto;
			border-radius: 8px;
			margin-top: 20px;
		}

		
		h1 {
			text-align: center;
			color: purple;
		}

		p {
			text-align: center;
			font-size: large;
			font-weight: 400;
		}
	</style>
</head>

<body>


	<section>
		<h1>WE BELIEVE TRAVEL IS A FORCE FOR GOOD</h1>
		<p>When we power more travel, we unleash more opportunities to strengthen connections, broaden horizons and
			bridge divides.</p>
		<p>Our mission is to power global travel for everyone, everywhere.</p>
	</section>




		<section class="" id="website" style="padding-top: 0px; padding-bottom: 0px"><br>
			<h1>THE POWER OF OUR PLATFORM</h1>
			<div class="parallaxwebsite4">

				<div class="container" style="padding-top: 0px; padding-bottom: 80px">
					<br>
					<div class="skill-columnsss">
						<div class="columnnn">
							<div class="skillll">
								<h3 class="SkillTitle" style="margin-top: -10px;, text-align:center">REACHING THE WORLD
THROUGH GLOBAL DISTRIBUTION</h3>
								<br>
								<h2>20+</h2>
								<p>Globally relevant brands</p>
							</div> <br>

							<div class="skillll">
								<h2>200+</h2>
								<p>Travel sites</p>
							</div><br>

							<div class="skillll">
								<h2>70+</h2>
								<p>Countries</p>
							</div><br>

							
						</div>



						<div class="columnnn">
							<!-- <h3 class="SkillTitle" style="padding-bottom: 25px;  margin-left: 25px;">Web Development -->
							</h3>
							<div class="skillll">
								<h3 class="SkillTitle" style="margin-top: -10px;">INDUSTRY-LEADING
TECHNOLOGY</h3><br>
								<br>
								<h2>800B+</h2>
								<p>AI predictions</p>
							</div><br>

							<div class="skillll">
								<h2>29M+</h2>
								<p>Virtual conversations</p>
							</div><br>

							<div class="skillll">
								<h2>70PB+</h2>
								<p>Data</p>
							</div><br>
						</div>



						<div class="columnnn">

							<div class="skillll">
								<h3 class="SkillTitle" style="margin-top: -10px;">BROADEST OFFERING IN
THE TRAVEL INDUSTRY</h3>
								<br>
								<h2>3M+</h2>
								<p>Properties</p>
							</div><br>

							<div class="skillll">

								<h2>220K+</h2>

								<p>Unique activities</p>
							</div><br>

							<div class="skillll">
								<h2>500+</h2>
								<p>Airlines, dozens of cruise lines
and thousands of car rentals</p>
							</div><br>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="moreaboutus">
			<h1>Who We Are</h1>
			<p>We are travelers and technologists. We work across time zones, hemispheres, cultures and languages. We’re used to breaking things down and building them back up again, until they’re even better. We know travel can be hard, but we also know that it’s worth it, every time. And because we believe travel is a force for good, we take our roles seriously. We’re here to build great products, and facilitate connections between travelers and our partners that truly bring good into the world.</p>
			<h1>What We Do</h1>
			<p>We are travelers and technologists. We work across time zones, hemispheres, cultures and languages. We’re used to breaking things down and building them back up again, until they’re even better. We know travel can be hard, but we also know that it’s worth it, every time. And because we believe travel is a force for good, we take our roles seriously. We’re here to build great products, and facilitate connections between travelers and our partners that truly bring good into the world.</p>
			<h1>How We Do It</h1>
			<p>Powered by more than 70+ petabytes of data and 20+ years of tech innovation, Expedia Group is one of the world’s largest travel platforms. With unrivaled knowledge of the industry and advanced tech innovation, we built a two sided marketplace that allows us to filter through millions of different possibilities, for travelers and partners worldwide.</p>		
		</section>

</body>

</html>