<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expedia | Cheap Flights</title>
    <style>
        
        .row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            text-wrap: wrap;
            margin: 10px;

        }



        img {
            width: 400px;
            height: 300px;
            border-radius: 15px;
            border: white 1px solid;
        }

        p {
            margin-top: 0px;
            color:orange;
            font-weight: 700;
            font-size: 15px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center; padding-top:10px; color:orange">Welcome to Expedia Aero</h1>
    <div class="row">
            <div>
                    <img src="/images/family.jpg">
                <p>Find international flights deals that take to some great places</p>
            </div>
            <div>
                    <img src="/images/wheretogo.png">
                <p>Find flight deals that take you to some great places</p>
            </div>

            <div>
                    <img src="/images/new.jpeg">
                <p>Grab cheap business class flights tickets to treat yourself</p>
            </div>

            <div>
                    <img src="/images/beach.jpg">
                <p>Enjoy with the exotic places with please</p>
            </div>

            <div>
               
                    <img src="/images/family-road-trip.jpg">
                <p>Grab a seat and travel with beloved ones</p>
            </div>
            <div>
                    <img src="/images/white.jpg">
                <p>Never miss a trip to your beautiful destination</p>
            </div>
           
        </div>

        <h1  style="text-align: center; padding-top:10px; color:orange; text-decoration:underline">Go further with the Expedia app</h1>
        <p  style="text-align: center; padding-top:10px; color:orange">Scan the QR code with your device camera and download our app</p>
        
        
        <div style="text-align: center;">
    <img src="/images/qr.webp" height="1000" width="1000" alt="">
</div><br>



</body>
</html>